@model CondominioWeb.Models.Cobranza

<h2>Detalle</h2>
<div id="Grid">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Propiedad)
            </th>
            <th></th>
        </tr>
        <tr>
            <th>@Html.DisplayFor(modelItem => modelItem.Propiedad)</th>
        </tr>

    </table>
    </div>

    @using (Html.BeginForm("Index", "Exportar", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml" />
        <input type="submit" id="btnSubmit" value="Export" />
    }
