<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-lg-6">
        <div class="card position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Generaci&oacute;n Cartas de Cobranza</h6>
            </div>
            @using (Html.BeginForm("Detalle", "Cobranza", FormMethod.Post))
            {
                <div class="card-body">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Propiedad</span>
                        </div>
                        <input type="text" id="Propiedad" class="form-control" placeholder="Ingrese propiedad..." aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <p>&nbsp;</p>

                    <p>
                        <a href="#" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                            </span>
                            <span class="text">Enviar por Email</span>
                        </a>
                        <a href="#" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Generar PDF</span>
                        </a>
                        <a href="#" class="btn btn-secondary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <span class="text">Volver</span>
                            <input type="submit" id="btnSubmit" value="Export" />
                        </a>
                    </p>
                </div>
            }
            </div>
    </div>
</body>
</html>
