@model List<int>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-lg-6">
        <div class="card position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Generaci&oacute;n Estados de Cuenta</h6>
            </div>
            @using (Html.BeginForm("Test", "Estados", FormMethod.Post))
            {
            <div class="card-body">
                <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                    <a class="navbar-brand" href="#">Propiedad:</a>
                    <ul class="navbar-nav ml-auto">
                        <div class="form-group">
                            @Html.DropDownList("Propiedad",
     new SelectList(ViewBag.Tipos, "Value", "Text"),
    "Seleccionar...",
    new { @class = "form-control" })
                        </div>
                    </ul>
                </nav>
                <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                    <a class="navbar-brand" href="#">Periodo:</a>
                    <ul class="navbar-nav ml-auto">
                        <div class="form-group">
                            @Html.DropDownList("Anio",
     new SelectList(ViewBag.Years, "Value", "Text"),
    "Seleccionar...",
    new { @class = "form-control" })
                        </div>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <div class="form-group">
                            @Html.DropDownList("Mes",
     new SelectList(ViewBag.Months, "Value", "Text"),
    "Seleccionar...",
    new { @class = "form-control" })
                        </div>
                    </ul>
                </nav>

                <p>
                    <a href="/Exportar/Index/1" class="btn btn-success">Generar PDF</a>
                    &nbsp;
                    <a href="#" class="btn btn-secondary">Enviar por email</a>
                    &nbsp;
                    <a href="/Home/" class="btn btn-warning">Volver</a>
                </p>

            </div>
            }
        </div>
    </div>
</body>
</html>
