<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-lg-6">
        <div class="card position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Generaci&oacute;n Estados de Cuenta</h6>
            </div>
            @using (Html.BeginForm("Test", "Estados", FormMethod.Post))
            {
            <div class="card-body">
                <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                    <a class="navbar-brand" href="#">Propiedad:</a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                    <a class="navbar-brand" href="#">Periodo:</a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                A&ntilde;o:
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">2019</a>
                                <a class="dropdown-item" href="#">2018</a>
                                <a class="dropdown-item" href="#">2017</a>
                                <a class="dropdown-item" href="#">2016</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mes:
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Enero</a>
                                <a class="dropdown-item" href="#">Febrero</a>
                                <a class="dropdown-item" href="#">Marzo</a>
                                <a class="dropdown-item" href="#">Abril</a>
                                <a class="dropdown-item" href="#">Mayo</a>
                                <a class="dropdown-item" href="#">Junio</a>
                                <a class="dropdown-item" href="#">Julio</a>
                                <a class="dropdown-item" href="#">Agosto</a>
                                <a class="dropdown-item" href="#">Septiembre</a>
                                <a class="dropdown-item" href="#">Octubre</a>
                                <a class="dropdown-item" href="#">Noviembre</a>
                                <a class="dropdown-item" href="#">Diciembre</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <p>
                    <a href="#" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-flag"></i>
                        </span>
                        <span class="text">Enviar por Email</span>
                    </a>
                    <a href="#" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>.
                        <span class="text">Generar PDF</span>
                    </a>
                    &nbsp;<a href="#" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Volver</span>
                <p><input type="submit" class="btn btn-primary btn-user btn-block" value="Ingresar" /></p>
                </a>
                </p>
            </div>
            }
            </div>
    </div>
</body>
</html>
