@model IEnumerable<CondominioWeb.Models.Estado>

<div id="Grid">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.anio)
                </td>
            </tr>
        }

    </table>
    </div>

    @using (Html.BeginForm("Export", "Estados", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml" />
        <input type="submit" id="btnSubmit" value="Export" />
    }
