
<div class="container-fluid">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Resumen Gastos Comunes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-sm table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="table-primary text-right">
                            <td>&nbsp;</td>
                            <th scope="col">2019-12</th>
                            <th scope="col">2019-11</th>
                            <th scope="col">2019-10</th>
                            <th scope="col">2019-09</th>
                            <th scope="col">2019-08</th>
                            <th scope="col">2019-07</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row" class="text-left">(+) Recaudaci&oacute;n</th>
                            <td class="text-right">1.374.846</td>
                            <td class="text-right">1.295.780</td>
                            <td class="text-right">1.407.140</td>
                            <td class="text-right">1.231.090</td>
                            <td class="text-right">1.305.000</td>
                            <td class="text-right">1.387.500</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-left">(+) Multas</th>
                            <td class="text-right">183.000</td>
                            <td class="text-right">73.000</td>
                            <td class="text-right">15.000</td>
                            <td class="text-right">36.000</td>
                            <td class="text-right">122.000</td>
                            <td class="text-right">47.000</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-left">(-) Normales</th>
                            <td class="text-right">978.000</td>
                            <td class="text-right">1.036.500</td>
                            <td class="text-right">996.000</td>
                            <td class="text-right">1.073.650</td>
                            <td class="text-right">1.150.300</td>
                            <td class="text-right">1.036.000</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-left">(-) Otros</th>
                            <td class="text-right">77.000</td>
                            <td class="text-right">135.000</td>
                            <td class="text-right">0</td>
                            <td class="text-right">79.990</td>
                            <td class="text-right">20.000</td>
                            <td class="text-right">60.000</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-left">(+/-) Ajustes</th>
                            <td class="text-right">0</td>
                            <td class="text-right">-7.830</td>
                            <td class="text-right">0</td>
                            <td class="text-right">5.500</td>
                            <td class="text-right">0</td>
                            <td class="text-right">-28.000</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr class="table-primary">
                            <th scope="row" class="text-left">Balance Mes</th>
                            <td class="text-right">502.846</td>
                            <td class="text-right">189.450</td>
                            <td class="text-right">426.140</td>
                            <td class="text-right">198.940</td>
                            <td class="text-right">257.000</td>
                            <td class="text-right">310.500</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>