<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-lg-10">
        <div class="card position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Calculo Gastos Mensuales</h6>
            </div>
            <div class="card-body">





                <div class="card mb-4 py-3 border-left-primary">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Gastos Administrativos</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-inline">
                            <button type="button" class="btn btn-primary col-2">
                                Honorarios
                            </button>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Descripcion">
                            <select id="inputState" class="form-control form-control-sm ml-2 col-1">
                                <option selected>Cantidad...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Monto">
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Docto.">
                        </div>
                    </div>
                </div>

                <div class="card mb-4 py-3 border-left-warning">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-warning">Gastos Mantenimiento</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-inline">
                            <button type="button" class="btn btn-warning col-4">
                                Mantenci&oacute;n Jardines
                            </button>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Descripcion">
                            <select id="inputState" class="form-control form-control-sm ml-2 col-1">
                                <option selected>Cantidad...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Monto">
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Docto.">
                        </div>

                        <div class="form-inline my-2">
                            <button type="button" class="btn btn-warning col-4">
                                Mantenimiento / Reparaci&oacute;n
                            </button>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Descripcion">
                            <select id="inputState" class="form-control form-control-sm ml-2 col-1">
                                <option selected>Cantidad...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Monto">
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Docto.">
                        </div>

                        <div class="form-inline my-2">
                            <button type="button" class="btn btn-warning col-4">
                                Insumos
                            </button>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Descripcion">
                            <select id="inputState" class="form-control form-control-sm ml-2 col-1">
                                <option selected>Cantidad...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Monto">
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Docto.">
                        </div>

                    </div>
                </div>

                <div class="card mb-4 py-3 border-left-dark">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-dark">Gastos Uso / Consumo</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-inline my-2">
                            <button type="button" class="btn btn-dark col-2">
                                Agua
                            </button>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Descripcion">
                            <select id="inputState" class="form-control form-control-sm ml-2 col-1">
                                <option selected>Cantidad...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Monto">
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Docto.">
                        </div>

                        <div class="form-inline my-2">
                            <button type="button" class="btn btn-dark col-2">
                                Luz
                            </button>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Descripcion">
                            <select id="inputState" class="form-control form-control-sm ml-2 col-1">
                                <option selected>Cantidad...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Monto">
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Docto.">
                        </div>

                        <div class="form-inline my-2">
                            <button type="button" class="btn btn-dark col-2">
                                Internet
                            </button>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Descripcion">
                            <select id="inputState" class="form-control form-control-sm ml-2 col-1">
                                <option selected>Cantidad...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Monto">
                            <input type="text" class="form-control form-control-sm ml-2 col-2" placeholder="Docto.">
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</body>
</html>
