@model List<int>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-lg-10">
        <div class="card position-relative">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Calculo Gastos Mensuales</h6>
            </div>
            <div class="card-body">
                <div class="row justify-center">
                    <div class="col-12">
                        <div class="form-inline">
                            @Html.DropDownList("Anio",
     new SelectList(ViewBag.Tipos, "Value", "Text"),
    "Seleccionar...",
    new { @class = "form-control" })
                            <button class="btn btn-outline-info" id="enter" type="button">Add</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
